@font-face {
  font-family: "logo-font";
  src: url("/src/fonts/logo-font-2.ttf") format("truetype");
  style: normal;
  weight: 400;
  stretch: 100;
}
@font-face {
  font-family: "accent-font";
  src: url("/src/fonts/accent-font.ttf") format("truetype");
  style: normal;
  weight: 400;
  stretch: 100;
}

* {
  margin: 0;
  padding: 0;
}

body {
  --accent-blue: #46b5c0;
  --accent-white: #e0cbac;
  --accent-brown: rgb(70, 39, 10);
  --logo-font: "logo-font", monospace;
  --main-font: "Lucidia Sans", sans-serif;
  --accent-font: "accent-font";
}

header {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-end;
  width: 100vw;
  height: 25vh;
  background-image: url("./img/header-img.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 0rem;
  font-family: var(--logo-font);
  font-size: clamp(50px, 6vw, 7vw);
  color: var(--accent-blue);
  font-weight: bolder;
  font-style: italic;
  text-shadow: 2px 5px var(--accent-brown);
}

nav {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-end;
  justify-content: space-evenly;
  height: 50%;
  width: 100%;
  font-family: var(--logo-font);
}

button {
  padding: clamp(5px, 1vw, 10vw);
  margin-bottom: 8px;
  border: none;
  border-radius: 5px;
  background-color: var(--accent-blue);
  font-size: clamp(15px, 1.5rem, 2rem);
  font-family: var(--logo-font);
}

button:hover {
  cursor: pointer;
}

button:active {
  background-color: var(--accent-white);
}

#content {
  display: flex;
  flex-flow: column nowrap;
  background-color: lavender;
}

#tab {
  margin: 0 auto;
}

/* Styles for Dynamic elements */
.home-tab {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

.tab-img {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  width: 40vw;
  text-align: center;
  content: url(./img/home-img.jpg);
  padding: 10px;
  border-radius: 10px;
}

h1 {
  font-size: clamp(1rem, 4vw, 2.5rem);
  padding: 20px;
  font-family: var(--logo-font);
}

h2 {
  font-family: var(--accent-font);
  font-size: clamp(4rem, 5.5vw, 5rem);
}

p {
  width: 50vw;
  text-align: center;
  font-size: clamp(1rem, 2.5vw, 1.5rem);
  font-family: var(--main-font);
  padding: 20px 10vw;
}
