/* @import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono"); */
* {
  margin: 0;
  padding: 0;
}

body {
  --accent-blue: #46b5c0;
  --accent-white: #e0cbac;
  --accent-brown: rgb(70, 39, 10);
  --logo-font: "IBM Plex Mono", monospace;
}

header {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-end;
  width: 100vw;
  height: 20vh;
  background-image: url("./img/header-img.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 0rem;
  font-size: 5vw;
  color: var(--accent-brown);
  font-weight: bolder;
  font-style: italic;
}

nav {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-end;
  justify-content: space-evenly;
  height: 50%;
  width: 100%;
  font-family: var(--logo-font);
}

button {
  padding: clamp(5px, 2vw, 10vw);
  margin-bottom: 8px;
  border: none;
  border-radius: 5px;
  background-color: var(--accent-blue);
  font-size: clamp(15px, 1rem, 1.5rem);
  font-family: var(--logo-font);
}

button:hover {
  cursor: pointer;
}

button:active {
  background-color: var(--accent-white);
}

#content {
  display: flex;
  flex-flow: column nowrap;
}

#tab {
  margin: 0 auto;
  background-color: lavender;
}
